@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@font-face {
  font-family: riccione;
  src: url(https://cdn.glitch.global/04f3de97-bb70-44b6-972d-fe4e781887f4/Riccione-Serial-BoldItalic.ttf?v=1694119092115);
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background:#3D6CF5; */
}

img {
  width: 20%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

#menu {
  background-color: #5a5a5c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border: solid red 2px;
}

.img-menu {
  width: 8%;
}

#menu .menu-lista {
  
  display: flex;
  align-items:center;
  justify-content: center;
  gap:1em;
  width:50%;
  height:50px;
  background:#404548;
  border: solid red 2px;
} 

.menu-lista a{
  font-size:1vw;
  color:white;
  text-decoration: none;
}

#banner {
  background-image: url(https://cdn.glitch.global/04f3de97-bb70-44b6-972d-fe4e781887f4/annie-spratt-tODXQIEAh9M-unsplash.jpg?v=1692912771315);
  background-size: cover;
  background-position:  right right;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width: 100%;
  height: 100vh;
  color:white;
  border: solid yellow 2px;
  line-height:1.8;
}

#banner h2{
  font-family: riccione;
  
  font-size: 2vw;
}

#banner h1{
  
  font-size: 6vw;
}

#banner p{
  
  font-size: 1vw;
}

#banner button{
  margin-top:1em;
  padding:1em;
}
#intro {
  padding:2em;
  display: flex;

  width: 100%;
  height: 100%;
  border: solid blue 2px;
}

.caja1{
  padding:2em;
   border: solid red 2px;
  
   width:100%;
}

.caja1 h3{
  
  padding-bottom:5em;
  
}

.texto-boton{
  
  border: solid green 2px;
  color:red;
  text-align:right;
}
.caja2 {
  border: solid green 2px;
  width:100%;
}

.caja2 img{
  
  width:100%;
}

.gran-caja {
  width:100%;
 padding-bottom:7em;
  display: flex;
  gap:2em;
}
#productos {
  background:#EEEEEE;
  padding:5em 2em 5em 2em;
  width: 100%;
  height: 100%;
  border: solid green 2px;
}
#productos h1{
  padding-bottom:2em;
  text-align:right;
}

.caja-productos img{
  
  width:100%;
  height:100%;
  padding-bottom:1em;
  object-fit:cover;
}

.caja-productos h4,p{
  
  padding-bottom:1em;
  
}

#productos button{
  color:white;
  background:black;
   padding: 1em 3em 1em 3em;
  
}
#galeria {
  display:grid;
  gap:2em;
  padding:2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  border: solid purple 2px;
}

.item1{
  width:100%;
  grid-column:1/2;
  grid-row:1/2;
}

.item2{
  background:#EEEEEE;
  height:100%;
  grid-column:2/3;
  grid-row:1/3;
  
}

.item3{
   width:100%;
  grid-column:2/3;
  grid-row:3/5;
  
}
.item4{
  background-image:url(https://cdn.glitch.global/04f3de97-bb70-44b6-972d-fe4e781887f4/rob-sarmiento-GSf90gw9YHw-unsplash.jpg?v=1692306628172);
  background-size:cover;
  background-position:center;
  width:100%;
  height:100%;
  grid-column:1/2;
  grid-row:2/5;
  
}
#pie-pagina {
  width: 100%;
  height: 100%;
  border: solid black 2px;
}
